.ProductPageContainer {
  display: flex;
  flex-direction: row;
  width: 80%;
  height: 100%;
  margin: auto;
  padding: 1rem;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  color: unset;
  text-decoration: none;
}

.ProductImage {
  display: block;
  object-fit: contain;
  width: 25%;
  height: auto;
  padding-bottom: 0.5rem;
  box-sizing: border-box;
}

.ProductDetails {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
}

.ProductTitle {
  font-weight: 600;
  font-size: 1.1rem;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.ProductCategory {
  text-transform: capitalize;
  color: grey;
  font-weight: 500;
  font-style: italic;
  font-size: 0.9rem;
}

.ProductDescription {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;  
  overflow: hidden;
  margin: 0.5rem 0rem 0rem;
}