.DropdownSelectContainer {
  height: 2rem;
  align-items: center;
}

.FilterSelect {
  margin-left: 0.6rem;
  padding: 0.5rem 0.2rem;
  text-transform: capitalize;
  height: 100%;
  width: 10rem;
  border: none;
  border-radius: 5px;
  -webkit-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
}
